/* Main CSS file */
* {
  text-align: center;
  box-sizing: border-box;
}

html {
  background-color: rgb(245, 245, 245);
	background-size: cover;
}

.title {
  color: rgb(252, 98, 93);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 80px;
  margin: 0
}

.container {
  box-shadow: 0 2px 4px 2px rgb(200, 200, 200);
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  position: relative;
  width: 500px;
}

.todo {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  /*
  was  300 but that gave five items evenly and its wasnt
  apparent that there were more being added below
  */
  max-height: 330px;
  overflow: scroll;
  width: 500px;
}


.todo__textInput {
  border: none;
  border-bottom: 1px solid rgb(239, 239, 239);
  outline: none;
  font-size: 20px;
  height: 60px;
  padding: 0 30px;
  text-align: left;
  width: 500px;
}

/*
This hides the submit button, but it will still work when
the user presses enter. Also is there for "graceful degradation" when css doesnt work.
*/
.todo__enter {
  display: none;
}

.list {
  margin: 0;
  padding: 0;
}

.list__item {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(239, 239, 239);
  font-size: 0px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0 10px;
  text-align: left;
  width: 500px;

  /*
  this creates a weird white space above the list item sections
  */
  /*overflow: scroll;*/
}

.list__text {
  display: inline-block;
  font-size: 20px;
  margin: 0;
  text-align: left;
  /* 500 - 60 for the padding of the container, the circle, and the circle's margin */
  width: 440px;
}

.list__item--selected {
  background-color: rgb(230, 230, 230);
  border-bottom: 1px solid rgb(239, 239, 239);
  font-size: 0px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0 10px;
  text-align: left;
  width: 500px;
}

.list__item--completed .list__text {
  color: rgb(141, 141, 141);
  display: inline-block;
  font-size: 20px;
  margin: 0;
  text-align: left;
  /* 500 - 60 for the padding of the container, the circle, and the circle's margin */
  text-decoration: line-through;
  width: 440px;
}

.circle {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-right: 20px;
  transition: background-color .6s;
  width: 20px;
}

.fa-check {
  font-size: 12px;
}

.list__item--completed .circle {
  border: 0;
  background-color: rgb(56, 200, 115);
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-right: 20px;
  transition: background-color .6s;
  width: 20px;
}

.footer {
  background-color: rgb(245, 245, 245);
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  text-align: left;
  width: 500px;
}

.footer__counter {
  margin: 0;
  color: rgb(132, 132, 132);
}

.defaultMessage {
  color: rgb(132, 132, 132);
  margin: 0;
  text-align: left;
}

/* **** For the press delete message */

/*.deleteMessage__hidden {
  display: none;
}

.deleteMessage {
  color: rgb(232, 213, 213);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}*/
